body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 100%;
}

header {
    background-color: #141010;
    color: #fff;
    padding: 1rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    margin: 0;
    font-size: 3rem;
    flex-grow: 1;
    text-align: center;
}

.logo img {
    max-height: 50px;
}

.main-content {
    display: flex;
}

main {
		flex: 9.75;
		background-color: #f0f0f0;
		padding: 20px;
}

a:hover, a:active {
    text-decoration: none;
    color: green;
}

nav {
    background-color: #141010;
    width: 200px;
    padding: 1rem 0;
    height: calc(100vh);
    position: sticky;
    top: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 1rem 0;
    text-align: center;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    display: block;
    padding: 0.5rem 0;
}

nav ul li a:hover {
    background-color: #555;
}

main {
    padding: 2rem;
    flex-grow: 1;
}

section {
    margin: 1rem 0;
}

h2 {
    color: #333;
    font-size: 1.8rem;
}

.banner {
    text-align: center;
}

.banner img {
    width: 10%;
    height: auto;
}

footer {
    background-color: #141010;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

.map-container {
    text-align: center;
    margin-top: 20px;
}

.card-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-left: 50px;
}

.card {
    display: flex;
    width: 100%;
    margin-bottom: 20px; 
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.member-photo {
    width: 100px;
    height: 150px;
    object-fit: cover;
}

.member-info {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.member-info h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

.member-info p {
    margin: 5px 0;
}

.card-container2 {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-left: 50px;
}

.card_fig {
    display: flex;
    width: 100%;
    margin-bottom: 20px; 
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.fig-info {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fig-info h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

.fig-info p {
    margin: 5px 0;
}

.fig {
    width: 200px;
    height: 150px;
    object-fit: cover;
}

#thumbnail {
  width: 100px;
  cursor: pointer;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.image-wrapper {
  position: relative;
 display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.click-to-expand {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.image-wrapper:hover .overlay {
  opacity: 1;
}
